@charset "utf-8";
.clearfix{content:" ";clear:both;display: block;overflow:hidden;}
/*首页公告*/
.line-tips{display: block;font-size:12px;color: #666;height:22px;line-height:22px;}
.line-tips:before{content: '';width:12.5px;height:11.5px;position: absolute;left:2.5px;background-position:0 -22px; }
.out{width:85%;overflow:hidden;height:22px;line-height:22px;padding-left:15px;box-sizing:border-box;background-color:#F3F3F3;float:left;}
.inner {/*width:99999999px;*/width:8000%;height:20px;}
.out .inner div{float:left;}
.none{display:none;}
.log-ctrl a,.log-out,.site-map a,.hub-game-detail,.bbs-pl,.bbs-ck,.org,.list-title{font-size:14px;}
.comment-desc,.face-img
,.comment-desc{font-size:14px;}

.hf-detail{font-size:15px;}

/*首页*/
.main-wrap{background-color: #ffffff}
.main-wrap .p-img-info{position: relative;padding-bottom:10px;}
.main-wrap .p-head-img{position: absolute;top:-31px;left:10px;padding:2.5px;box-sizing: border-box;background: #fff;border-radius: 50%}
.main-banner{width:100%;height:150px;background:url(../img/index_top_bg.jpg) no-repeat;background-size: cover;position: relative;color: #fff}
.main-banner .medal-outer{position: absolute;left:33.5px;top:35px;}
.main-banner .medal-outer>img{width:10px;height: 17.5px;}
.main-banner .p-name{position: absolute;left:12px;top:15px;padding-left:21px;width:55%;}
.main-banner .p-name1{position: absolute;left:12px;top:15px;padding-left:21px;width:55%;}
.main-banner .p-name1 i{color: #ff7800;font-style: normal;font-size:12px;}
.main-banner .p-name:before{content: '';width:11px;height:16px;position: absolute;left:0;top:1px}
.main-banner .p-name.sex-1:before{background-position:-24.5px 0;}
.main-banner .p-name.sex-2:before{background-position:-36px 0;}
.horn:before{background-position:3px -34px;}
.main-banner .p-name i{color: #ff7800;font-style: normal;font-size:11px;}
.main-banner .p-gold{position: absolute;right:10px;top:17px;font-size:12px;}
.main-banner .p-gold p{margin-bottom:12px;position: relative; padding-left: 15px;}
.p-gold p > a{color: #fff;display: block;}
.main-banner .p-gold p.gold:before,
.main-banner .p-gold p.fen:before{content: '';width:12.5px;height:12.5px;position: absolute;left: 0px}
.main-banner .p-gold p.gold:before{background-position:-14.5px -21.5px}
.main-banner .p-gold p.fen:before{background-position:-15px -36.5px}
.main-banner .p-gold span{margin-left:5px;}
.main-banner .p-ctrl{position: absolute;width: 100%;bottom:10px;padding-left:85px;box-sizing: border-box;}
.main-banner .fans-follow{color: #fff;font-size:11px;margin-right:10px;}
.main-banner .p-zone{float:right;margin-right:10px;color: #fff;position: relative;font-size:11px;padding:5px;padding-left:20px;background:rgba(255,255,255,0.3);border-radius:15px;margin-top:-5px;}
.main-banner .p-zone:before{content: '';position: absolute;left:5px;width:12px;height:10px;background-position: -15px -53px;top:6px;}
.main-banner .p-edit{color: #fff;font-size:12px;}
.p-img-info p{padding:10px;font-size:13px;padding-left:85px;height:16px;padding-bottom:0;width:auto;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.my-newp{margin-top:12.5px;font-size:12px;}
.main-nav{overflow: hidden;padding:5px 2.5px;background: #ededed}
.main-nav a{width:23%;float:left; position:relative;box-sizing:border-box;margin:1%;padding:15px;color: #fff;text-align: center;}
.main-nav a img{display: block;margin:5px auto;width:30px;height:30px;}
.main-nav a i{ width: 25px; height: 25px; position: absolute; right: 3px; top: 0px; background:url(../img/new.png) no-repeat center; background-size: 25px;}
.main-list{border:solid #e2e2e2;border-width:1px 0;border-bottom:10px solid #e2e2e2;background-color: #ffffff}
.main-list li{margin:0 10px;position: relative;border-bottom: 1px solid #e2e2e2}
.main-list li:after{position: absolute;content: '';width:10px;height:10px;border: solid #4e4e4e;border-width:0 2px 2px 0;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);transform: rotate(-45deg);right:15px;top:22px;}
.main-list li:last-child{border:none;}
.main-list li a{padding:20px 0;display: block;overflow: hidden;position: relative;padding-left:22.5px;font-size:15px;}
.main-list li a:before{content: '';width:15px;height:14px;position: absolute;left: 0}
.main-list li a.icon-a:before{background-position:0 -37.5px;}
.main-list li a.icon-b:before{background-position:0 -53.5px;}
.main-list li a.icon-c:before{background-position:0 -69.5px;}
.main-list li a.icon-d:before{background-position:0 -85.5px;}
.main-list li a.icon-e:before{background-position:0 -101.5px;}
.main-list li a.icon-f:before{background-position:0 -119.5px;}
.main-list li a.icon-g:before{background-position:0 -136px;}
.main-list li a.icon-l:before{ background:url(../img/grade.png) no-repeat center; background-size: contain;}
.main-list li a.icon-m:before{ background:url(../img/mall.png) no-repeat center; background-size: contain;}
.main-list li a.icon-s:before{ background:url(../img/state.png) no-repeat center; background-size: contain;}
.main-list li a span.fr{margin-right:30px;color: #999999}

/*other*/
.rela-title{padding:5px 10px;margin-top:10px;font-size:14px;}
.rela-box{text-align: center;padding:20px 10px;padding-top: 10px;}
.rela-box1{text-align:center;
    width: auto;
    overflow: hidden;
    height:77px;padding-top:10px;padding-bottom:10px;}
.rela-box img{display: block;margin:0 auto;border-radius:5px}
.rela-box > a{}
.rela-box > a:last-child{margin-right:0}
.rela-box > a > span,.rela-box1 span{font-size:12px;margin-top:5px;display: block;width:100%;height:13px;line-height:13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;}
.my-play-a{float:left;width:25%;height:77px;overflow:hidden}
.my-play-a img{border-radius:6px;}
.index-other{display: none;/*border-top: 1px solid #e5e5e5*/}
.index-other .address{margin-left:64px;}
.index-other .like-num{position: relative;/*padding-left:28px;*/}
/*.index-other .like-num:before{position: absolute;content: '';width: 25px;height: 23px;
    background-position: -66px -38px;left: 0}*/
.main-tabs{margin-top:10px;}
.main-tabs a > p:first-child{margin-bottom:5px;}
.main-tabs a.curr{border-bottom: 2px solid #ff7800;color:#ff7800;}
.main-tabs a{
    width: 20%;
    padding:19px 0;
    text-align: center;
   border-bottom: 1px solid #e5e5e5;
    float: left;
    position: relative;
}
.main-tabs a:after {
    position: absolute;
    height:34px;
    width: 1px;
    right: 0;
    background-color: #b2b2b2;
    content: '';
    top:19px;
}
.fans-btn{display: inline-block;width:55px;line-height:20px;color: #fff;background-color: #0095d9;text-align: center;margin-right:30px;border-radius:3px}
.fans-btn.follow-btn{background-color: #ff7800}
.fans-btn.follow-btn.already{background-color: #999}
.fans-btn.follow-btn.already i{background-position:-16px -99.5px }
/*详细资料*/
.detail-list{margin-top:10px;background-color: #fff;padding:5px 10px;}
.detail-list li{line-height:25px;font-size:15px;padding:10px 0;border-bottom: 1px solid #e5e5e5}
.detail-list li:last-child{border:none;}
.detail-list li .tie{color: #666}
.detail-list li .org{color: #ff7800}
.myloadingimg{width:24px;height:24px;}
/*消息列表*/
.main-msg-list{padding:10px;background-color: #fff;/*border:solid #e5e5e5;border-width:1px 0;*/padding-top:0px;}
.main-msg-list li{position: relative;border-bottom:1px solid #e5e5e5;overflow: hidden;padding:10px 0;}
.main-msg-list li:last-child{border: none;}
.main-msg-list a.top-top:after{content: '';width:10px;height:10px;position: absolute;right:12.5px;top:25px;border:solid #4c4c4c;border-width: 2px 2px 0 0;transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg);}
.main-msg-list>a{display: block;}
.main-msg-list .msg-icon{float:left;width:40px;height:40px;border-radius: 50%;}
/*.main-msg-list img{margin-right: -81px;}*/
.main-msg-list .msg-icon-sys{background-position:-46.5px 0 }
.main-msg-list .msg-icon-gg{background-position:-46.5px -40px; }
.main-msg-list .top-top .msg-type{line-height: 80px;font-size: 34px;}
.main-msg-list .msg-type{margin-left:20px;line-height:20px;font-size:15px;margin-bottom:10px;position:relative;height:20px;float:left;width:79%;}
.main-msg-list .msg-type1{margin-left:20px;line-height:40px;font-size:15px;position:relative;height:40px;float:left;width:75%;}
.main-msg-list .msg-type1 em{line-height:40px;font-size:15px;height:40px;float:left;font-style:normal;}
.main-msg-list .msg-type .msg-time{float: right;color: #666;font-size:12px;}
.main-msg-list .msg-ct{margin-left: 100px;width: 75%;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;line-height:81px;}
.main-msg-list .my-msg-ct{margin-left:60px;width: 69%;text-overflow: ellipsis;overflow: hidden;
    white-space: nowrap;height:20px;line-height:20px;}
.main-msg-list .my-msg-ct img{width:15px;}
.main-msg-list .msg-type .msg-num-bg{background-color: #cb2028;
    width:26px;line-height:26px;border-radius:50%;color: #fff;position: absolute;right: 0;top:27px;font-size:12px;text-align: center; -webkit-transform: scale(0.7);}
.main-msg-list .top-top .my-msg-num{background-color:#cb2028;width:26px;line-height:26px;border-radius:50%;color: #fff;font-size:12px;text-align: center ;-webkit-transform: scale(0.7);;margin-left:10px;float:right;margin-top:8px;}
.main-msg-list .top-top .msg-num{/*float: right;margin-right:70px;*/color: #cb2028;background-color: #fff}
.main-msg-list a.visited .msg-num-bg{display: none;}
.main-msg-list a.visited .msg-time{color: #999}
.main-msg-list a.visited{color: #999}
.message-img{float:left;border-radius:50%;width:40px;height:40px;}
.post-msg{background-color:white;}
.post-msg-list{background-color:white;}
/*系统消息*/
.sys-msg-list .msg-ctx{margin-bottom:10px;line-height:25px;font-size:15px;float:left;word-break:break-all;width:83%;margin-left:10px;}
.sys-msg-list .msg-more{padding-left:50px;font-size:12px;float:left;width:100%;box-sizing: border-box;}
.sys-msg-list .msg-more .msg-time{color: #999}
.sys-msg-list .msg-more .msg-more-btn{float: right;color: #2878d1;font-size:13px;}
.sys-msg-list .msg-icon-1{background-position:-46.5px -81px;}
.sys-msg-list .msg-icon-2{background-position:-46.5px -122px;}
.sys-msg-list .msg-icon-3{background-position:-46.5px -162.5px;}
.sys-msg-list .msg-icon-4{background-position:-87px 0;}
.sys-msg-list .msg-icon-5{background-position:-87px -40px;}
.sys-msg-list .msg-icon-6{background-position:-87px -81px;}
.sys-msg-list .msg-icon-7{background-position:-87px -122px;}
.sys-msg-list .msg-icon-8{background-position:-87px -162.5px;}
.load-more{display: block;line-height:50px;text-align: center;font-size:14px;}

/*金币，积分*/
.gold-list {background-color: #fff;padding: 0 10px;border-bottom: 1px solid #e5e5e5}
.gold-list li{padding:10px 0;border-bottom:1px solid #e5e5e5 }
.gold-list li:last-child{border: none;}
.gold-list li a{display: block;overflow: hidden;}
.gold-list li span.org{float:right;color: #ff7800;margin:14px 0;}
.gold-list .list-title{line-height:25px;}
.gold-list .list-time{line-height:20px;color: #999999;margin-top:4px;font-size:12px}

/*关注，粉丝*/
.main-msg-list.follow-list{padding:0 10px;}
.follow-list li img{margin-right:10px;width:50px;height:50px;border-radius:50%;}
.follow-list li>a{width:100%;overflow: hidden;display: inline-block;}
.follow-list .sex-icon{margin-right:10px;vertical-align:-3px;}
.follow-list .nick-name{font-size:15px;margin-top:5px; width: 55%;
    height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;}
.follow-list .nick-line{color: #999;margin-top:12px;font-size:12px;}
.my-bestlove{background-position:-65px -38px;float:left;width:14px;
    height:13px;margin-right:10px;}
.follow-status{position: absolute;right: 0;top:28px;width:84px;line-height:24px;text-align:center;color:#fff;background-color:#999;border-radius:4px;font-size:12px;}
.follow-status i,.fans-btn.follow-btn.already i{display: inline-block;
    width:12px;height:9px;margin-right:2.5px;background-size:150px 300px;}
.follow-status.status-3{background-color: #ff7800;}
.follow-status.status-1 i{background-position: -16px -99.5px;}
.follow-status.status-2 i{background-position: -16px -108.5px;}
.follow-status.status-3 i{background-position: -16px -88.5px;}

.game-hub-list {border: none;padding: 0 10px;}
.game-hub-list .hub-line img{width:30px;height:30px;margin-right:10px;float:left;border-radius:50%;}
.game-hub-list .hub-line p{line-height: 60px;font-size: 30px;}
.game-hub-list .hub-line .hub-line-time{float: right;font-size:12px;color: #999;margin-top:7px;}
.game-hub-list .hub-down img{float:none;margin: 0;width:15px;height: auto;border-radius: 0;}
.game-hub-list .hub-line .hub-name{margin-top:7px;float: left;font-size:15px;}
.game-hub-list .hub-down{font-size:14px;margin:10px 0;line-height:27px;  word-break: break-all;}
.game-hub-list .hub-game-detail{border-radius:4px;background-color: #ededed;padding:10px;overflow: hidden;position: relative;display:block}
.game-hub-list .hub-game-detail img{border-radius:7px;width:60px;height:60px;margin-right:10px;
    float:left;}
.hub-game-detail .game-name{font-size:15px;font-weight: bold;margin-top:5px;width: 60%;
    height:21px;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;}
.hub-game-detail .game-type{margin-top:18px;}
.hub-game-detail .game-down{position: absolute;width:55px;line-height:24px;color: #fff;text-align: center;border-radius: 5px;background-color: #0095d9;right: 10px;top:27px;}
.comment-desc1{height:64px;overflow:hidden;float:left;width:61%;line-height:32px;}
.mytiezi-a{display:block;}
/*我的论坛-帖子*/
.my-ziti-a{font-size:30px;display:block;}
.tz-list {border: none;}
.tz-list li{padding-top:10px;}
.tz-list .bbs-title{font-size:15px;line-height:26.5px;margin-bottom:10px;}
.tz-list .bbs-pl,
.tz-list .bbs-ck{padding-left:17px;color: #999;position: relative;}
.tz-list .bbs-pl{margin-right:20px;}
.tz-list .bbs-ck:before,
.tz-list .bbs-pl:before{content: "";width:14px;height:11px;position: absolute;left: 0;top:2.5px;}
.tz-list .bbs-pl:before{background-position: -16px -117px;}
.tz-list .bbs-ck:before{background-position: -16px -128.5px;}
.tz-list .bbs-time{float:right;color: #999;font-size:12px}
.hf-title {font-size:15px;}
/*我的论坛-回复*/
.hf-list {border: none;padding:0 10px;}
.hf-list li{padding-top:10px}
.hf-list .hf-title{line-height:26.5px;display: block;}
.hf-list .hf-time{color: #999;font-size:12px;float: right;margin-top: 10px;}
.hf-list .hf-detail{padding:10px;margin-top:20px;background-color:#ededed;line-height:27px;border-radius:4px;position:relative;display: block;}
.hf-list .hf-detail:before{content: "";position: absolute;width: 0;height: 0;border-width:10px;
    border-color: transparent transparent #ededed transparent;border-style: solid;left:15.5px;top:-19.5px;}

/*我的论坛-收藏*/
.sc-list .hf-time{float: left;}
.qx-sc{float: right;width:15px;height:14px;background-position:-16px -140px;margin-top:10px;}

.comment-list .hub-game-detail{padding:5px 10px;line-height:25px;font-size:14px;}
.comment-list .bl-txt{color: #2878d1}
.comment-list .hub-game-detail>img{margin-top:5px;width:60px;height:60px;}

.comment-list .hub-game-detail.face-img img{margin:8px 0;width:auto;height:auto;border-radius:0}
.comment-list .hub-game-detail .game-name{margin-top:0;}
.comment-list .comment-detail > img{width: 194px;}
.comment-detail .comment-desc{line-height:27px;margin-top:5px;}
.reply-wrap{padding:15px 10px;border-top:1px solid #e5e5e5;background-color:white;}
.reply-wrap .txt-outer{border:1px solid #e5e5e5;border-radius:3px;padding:10px;position:relative;}
.reply-wrap .txt-tips{text-align: right;color: #999;font-size:15px;}
.send-btn{border: none;background-color: #0095d9;float:right;line-height:24px;width:55px;text-align: center;color: #fff;font-size:12px;margin-top:15px;border-radius:3px}
.unsend-btn{border: none;background-color: #443C3F;float:right;line-height:24px;width:55px;text-align: center;color: #fff;font-size:12px;margin-top:15px;border-radius:3px}
.reply-wrap .face-show{float: left;width:25px;height:24px;background-position:0px -153px;margin-top:15px;}
.reply-wrap textarea{border:none;width: 100%;height: 170px;font-size:30px;margin: 15px 0;font-family: 'Microsoft YaHei';}
.game-hub-list .hub-game-detail .my-change-newimg{margin-top:5px;width:97px;height:60px;}
/*私信*/
.post-msg textarea{margin:0;}
.post-msg .le-code{border:1px solid #e5e5e5;width:100%;box-sizing: border-box;padding:10px;font-size:15px; font-family: 'Microsoft YaHei';}
.post-msg .input-tips{line-height:20px;color: #cb2028;text-indent:1em;height:20px;}
.my-own-span{position:absolute;left:12px;top:17px;font-size:15px;color:#999;}


/*我的礼包*/
.dash-list li{position:relative;padding:15px 0;margin:0 10px;border-bottom:1px solid #dddddd;}
.dash-list li:last-child{border: none}
.dash-list .dash-link{position: relative;display: block;overflow: hidden;font-size:15px;width: 78%;}
.dash-link img{float:left;}
.dash-link > img{float: left;width:60px;height:60px;border-radius:5px;margin-right:10px;}
.my-right-word{float:left;width:65%;margin-left:5px;height:60px;overflow:hidden}
.mynewgift-name{font-size:15px;overflow:hidden;height:20px;display:block;width:100%;}
.mynewgift-code{height:16px;display:block;width:100%;color: #999;font-size:13px;margin:1px 0;overflow:hidden;margin-top:6px;}
.gift-dead-line{font-size:13px;line-height:18px;}
.newadd-img-daxiao img{width:60px;height:60px;border-radius:4px;}
.dash-link .gift-code,
.dash-link .gift-dead-line,
.dash-link .reserve-num,
.dash-link .game-type{color: #999;}
.dash-link .gift-code{margin:8px 0;}
.dash-link .reserve-num,
.dash-link .game-type{margin-top:26px;margin-left:70px;}
.dash-link .code-status{position: absolute;right: 0;bottom: 0;width:70px;line-height:24px;text-align: center;color: #fff;font-size:12px;border-radius: 4px}
.like-list .code-status,.game-list .code-status{width:55px;bottom: inherit;top: 0;}
.dash-link .code-status.status-1{background-color: #999}
.dash-link .code-status.status-2{background-color: #ff7800}
.dash-link .code-status.status-3{background-color: #0095d9;}
/*喜欢*/
.like-list .dash-link .gift-name{font-weight: bolder;display:block;font-size:15px;margin-left:70px;
    width:51%;height:18px;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;text-align:left;}
.like-list .qx-sc{float: none;position: absolute;top:3.5px;right:70px;margin-top:0}

/*帮助*/
.info-wrap{padding:15px 10px;overflow: hidden;margin-bottom:10px;}
.info-wrap img{float: left;width:60px;height:60px;margin-right:10px;border-radius: 50%;}
.info-wrap .info-level{font-size:15px;}
.info-wrap .info-level span{color: #ff7800}
.info-wrap .info-exp{font-size:12px;margin-top:20px;}
.info-wrap .info-exp-process{width:80%;height:10px;margin-left:20%;margin-top:5px; background-color:#e5e5e5;border-radius:5px;overflow: hidden;}
.info-wrap .info-exp-process .process-in{width: 20%;height:10px;background-color: #ff7800;border-radius: 10px;min-width: 20px;}

.level-detail{padding:10px;}
.level-desc{font-size:15px;color: #ff7800;margin:5px 0;}

.level-table{width: 100%;border-color:#7f7f7f;margin-top:10px;}
.level-table th{color: #ff0000;height:22px;font-weight: normal;}
.level-table td{text-align: center;height:22px;font-size:12px;}
.get-detail td:first-child{text-align:left;text-indent:1em}

.post-msg-list li{padding:30px 20px;position: relative;}
.post-msg-list li>img{width: 60px;height: 60px;border-radius: 50%;}
.post-msg-list .msg-time{font-size:12px;color: #999}
.post-msg-list .msg-ctx{padding:10px 20px;box-sizing: border-box; }
.post-msg-list .msg-ctx .msg-content{padding:5px 10px;position: relative;border-radius:5px;font-size:15px;line-height:22px;text-align: left;width: auto;
    max-width: 100%;
    word-break: break-all;}
.post-msg-list .msg-content:before{content: '';width: 0;height: 0;border-style: solid;border-width:10px;position: absolute;top:7px}
.post-msg-list .msg-ctx .msg-content img{margin-right:7px;width:15px;}
.post-msg-list .msg-other .msg-content:before{border-color: transparent #ededed transparent transparent;left: -20px;}
/*.post-msg-list .msg-other img{float:left;margin-right: 20px;border-radius:50%;}*/
.post-msg-list .msg-other .msg-time{text-align:left;}
.post-msg-list .msg-other .msg-ctx{margin-left:30px;text-align: left;}
.post-msg-list .msg-other .msg-content{background-color: #ededed;}
.post-msg-list .msg-my .my-img{float:right;margin-left: 20px;border-radius:50%;width:30px;
    height:30px;}
.post-msg-list .msg-other .my-img{float:left;margin-right: 20px;border-radius:50%;width:30px;
    height:30px;}
.post-msg-list .msg-my .msg-time{text-align:right;}
.post-msg-list .msg-my .msg-ctx{margin-right:30px;text-align: right}
.post-msg-list .msg-my .msg-content:before{border-color: transparent transparent transparent #0095d9 ;right:-19px;}
.post-msg-list .msg-my .msg-content{background-color: #0095d9;color: #fff}
.fl{float:left;}
.fr{float:right;}
/*取消关注弹窗*/
.alert-window{width: 78%;margin-left: 11%;height:129px;border:1px solid #e5e5e5;box-sizing: border-box;padding:30px;background-color: #fff;position: fixed;top:10px;z-index: 999}
.alert-window .alert-ctx{line-height:1.5}
.alert-window .alert-btn{line-height:20px;width:85px;position: absolute;bottom:15px;font-size:12px;text-align: center;color: #fff;border-radius:3px;}
.alert-window .alert-btn.status-2{background-color: #999999;right:15px;}
.alert-window .alert-btn.status-1{background-color: #ff7800;left:15px;}

/*表情弹框*/
.expression-alert{width:100%;background-color:#f1f1f1;margin-top:5px;padding-bottom:10px;overflow:hidden;height:160px;position:relative;}
.swiper-slide div{float:left;width:14.28%;text-align:center;}
.swiper-slide div img{padding-top:5px;width:30px;}
.my-input{border:none;width:100%;height:85px;font-size:15px;
    font-family:'Microsoft YaHei';overflow:auto;background-color:white;}
.myclass{margin-right:4px;}
.my-expression-div{float:left;}
.pagination{position:absolute;left:0;text-align:center;bottom:0px;width:100%;}
.swiper-pagination-switch{display:inline-block;width:10px;height:10px;border-radius:10px;background:#999;box-shadow:0px 1px 2px #555 inset;margin:0 3px;cursor:pointer;}
.swiper-active-switch{background:#fff;}
.swiper-container{width:100%;height:160px;}
.swiper-slide{height:320px;}
.swiper-wrapper{float:left;}
.none{display:none;}
.mynew-title{width:100%;text-align:center;color:#fff;font-size:17px;line-height:45px;position:absolute;left:0px;top:0px;z-index:2;}
.mew-title-right{
    width:24px;
    height:17px;
    background-position: 0 0;
   top:14px;
   right:15px;
    position:absolute;z-index:4;
    background-size:150px 300px;
}
.mew-title-right span {
    position: absolute;
    background-color: #cb2028;
    border-radius: 50%;
    width: 26px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    top: -15px;
    right: -15px;
    -webkit-transform: scale(0.7);
}
.game-type{font-size:14px;}
.comment-list .my-pic-changde img{width:15px;height:15px;border-radius:0px;margin-top:0px;float:none;}


.search-keyword{ padding: 7px 15px 17px; border-bottom: 1px solid #e5e5e5;}
.text-serch{display:-moz-box;
    display:-webkit-box;
    display:box;}
.text-serch .text-s{  -moz-box-flex:1;
    -webkit-box-flex:1;
    box-flex:1; display: block; border: 1px solid #aaa;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px; font-size: 12px;
height: 26px; padding:0 15px;}
.text-serch span{ display: inline-block; width: 28px;
    height: 28px; margin-left: 15px; background:url(../img/icon/search-a.png) no-repeat; background-size: cover; }
.text-serch .text-s::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ccc;
}
.text-serch .text-s:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ccc;
}
.text-serch .text-s::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ccc;
}
.text-serch .text-s:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ccc;
}
.showError{ font-size: 14px; color: #999; margin-top: 50px; text-align: center; display: none;}
.showError a{ font-size: 14px; color: #999; display: block; margin-top: 10px;}

.singeIn a{ display: block; margin-bottom: 10px; width: 80px; height: 24px; line-height: 24px; text-align: center;
    font-size: 12px; background: #ff7800; color: #fff;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;}
.singeIn a.singeHover{ background: #c3c3c3;}
.singeIn .SingeT{ display: block; text-align: center; margin-bottom: 10px;
    font-size:12px;}
.myZone{ margin-left: 5px;
    position: absolute;}
.myZone img{ width: 15px;}
.error-div{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    width: 240px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    background: rgba(0,0,0,0.7);
    margin-left: -120px;
    margin-top: -15px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
}

.clearfix{*zoom:1;}
.clearfix:after{ content:''; display:block; height:0; overflow:hidden; clear:both}
.shadowSinge{ position:fixed; display: none; z-index:999; background:#000; opacity:0.8; left:0; top:0; width:100%; height:100%}
.Signin{ position:absolute; z-index:9999; display: none; left:2.5%; top:35%; width:95%; background:#fff; border-radius:4px;}
.Signin h2{ padding:10px; font-weight:normal; font-size:14px; color:#ff7800; position:relative;}
.Signin h2 .pointer-m{ color:#3ac19f; font-size:12px; margin-left:10px; padding-left:20px; background:url(../img/icon/score.png) no-repeat left center;background-size: contain;}
.Signin h2 .money-m{ color:#ffc52a; font-size:12px; margin-left:10px; padding-left:20px; background:url(../img/icon/gold.png) no-repeat left center;background-size: contain;}
.Signin i{ cursor: pointer; position:absolute; right:10px; top:10px; background:url(../img/icon/singe-close.png) no-repeat center center; width:15px; height:15px; background-size:contain;}
.Signin p{ font-size:12px; margin:0 0 10px 0; padding-left:10px;}
.btnSinge{ padding-bottom:10px; border-bottom:1px solid #ddd;}
.btnSinge a{ float:left; margin-left:10px; font-size:12px; border:1px solid #999; border-radius:50px; width:115px; text-decoration:none; height:28px; line-height:28px; text-align:center; color:#999;}

.listSinge{ padding:0 10px;}
.listSinge .singeP{ border-bottom:1px solid #ccc; padding:10px 0;}
.listSinge .singeP a{ display: -moz-box; display: -webkit-box; display: box; }
.listSinge .singeP img{ display:block; width:100px; height:70px; border-radius:0;}
.listSinge .singeP .singeText{ line-height:15px; vertical-align:middle; font-size:12px; margin-left:10px; -moz-box-flex: 1; -webkit-box-flex: 1; box-flex: 1;}
.listSinge .singeP:nth-of-type(3){ border-bottom:none;}

.main-banner .base-gold .SingeT{ text-align: left;}
.main-banner .base-gold p{ padding-left: 0}
.dash-list .clipboard-btn{
	position: absolute;
	width: 50px;
	line-height: 24px;
    right: 10px;
    top: 33px;
    font-size: 14px;
    background-color: #57bbe7;
    text-align: center;
    color: #fff;
    border-radius: 4px;
}
.clipboard-tips{
	display: none;
	position: fixed;
	top: 48%;
	left: 50%;
	font-size: 14px;
	line-height: 30px;
	margin-top: -15px;
	margin-left: -45px;
	padding: 0 10px;
	background-color: rgba(0,0,0,.8);
	color: #fff;
	border-radius: 4px;
}
